<div class="flex flex-1 flex-row">
  <TeamSelector />
  <TeamSlider />

<main class="flex-1 flex flex-col bg-white overflow-hidden channel">
  <ChannelHeader
    @title="Private Chat"
    @description="Chats with friends"
  />
  <div class="py-4 flex-1 overflow-y-scroll channel-messages-list" role="list">
    <Message />
  </div>
</main>
</div>
